<ion-header>
  <ion-toolbar color="ocean">
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Kenapa Asisten Belanja?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-margin">
    <section class="lh-base">
      <h1 class="text-danger fw-bold fs-4">Gratis Ongkir!</h1>
      <h5 class="lh-base fw-bold fs-6">Belanja banyak beda tempat bisa! Misal beras di MM. ABC, minyak goreng di MM. XYZ, dst</h5>
      <p>Istilah <i>personal shopper</i> belum tenar, terkecuali si mbak (PRT) yang ke pasar atau minimarket terdekat. Namun tidak semua keluarga memilikinya.</p>
      <p>Berjibaku dengan macet dan padatnya jalan raya menambah pening kepala. Belum lagi antrian di supermarket karena promo buy one get one sedang mengudara. Ah, tidak! Padahal kebutuhan di rumah sudah harus dibeli: susu, makanan bayi, buah, popok, deterjen, sampai sembako.</p>
      <p>Sejumlah tawaran solusi hadir di era digital ini. Cukup dengan jemari, semua persoalan teratasi. <b>Asisten Belanja</b> adalah sebuah aplikasi yang menghadirkan asisten belanja untuk Anda.</p>
      <p>Berikut adalah sejumlah alasan mengapa anda membutuhkan Asisten Belanja:</p>
      <ol>
        <li><strong>Menghemat biaya belanja</strong><br>
        Aturan dasar membuat daftar belanjaan memang sudah anda lakukan. Semua lengkap. Anda juga sudah bertekad kuat hanya membeli yang ada di dalam daftar tersebut. Tapi, seberapa sering anda melanggarnya? Tiba-tiba ada promo produk pewangi pakaian, sabun mandi, sampai makanan beku. Padahal barang-barang itu tidak ada dalam daftar belanja. Memiliki asisten belanja seperti honestbee akan membuat anda lebih fokus pada apa saja daftar belanja yang memang anda butuhkan. honestbee pun akan membelinya bagi anda sesuai dengan pesanan. Selain menghemat biaya parkir, makan, dan lainnya, melalui honestbee anda justru menghemat biaya belanja itu sendiri.</li>
        <li><strong>Godaan diskon</strong><br>
        Sejumlah supermarket ada di dalam mal. Dan kita sama-sama tahu ya Bun, sesungguhnya windows shopping itu tidak sekadar lihat-lihat. Ternyata salah satu toko sepatu favorit di dalam mal juga lagi diskon akhir tahun. Rencananya sih beli kebutuhan harian, eh malah gesek kartu untuk beli sepatu diskonan. Coba kalau yang berbelanja adalah personal shopper mereka akan fokus dan tentu tidak akan tergoda macam kita, Bun.</li>
        <li><strong>Menghemat biaya parkir</strong><br>
        Berapa biaya parkir rata-rata instan di mal atau supermarket? Duh mom, kalau anda kalikan 2-3 jam sekali belanja lumayan juga ya, dan dalam satu bulan kita tidak cukup berbelanja sekali, bukan? Mungkin anda berpikir, “biaya parkir sih recehan lah…”, tapi kalau anda akumulasikan dalam satu bulan untuk 3 kali belanja dan itu dikalikan 6 bulan, kan bukan recehan ya mom. Dengan memiliki seorang asisten belanja, anda bisa menghemat membayar biaya parkir. <strong>Selain biaya, juga terbatasnya lahan parkir.</strong> Pernah merasa deg-degan tidak mom, saat melihat LED monitor di depan pos parkir hanya tinggal puluhan. “Alamak, bakal kepusingan deh nih cari parkiran.” Memang sih, sejumlah mal atau supermarket menyediakan lahan parkir khusus perempuan, tapi tidak banyak yang biasanya tersisa. Setelah berputar-putar dan dapat parkir, ternyata jarak dengan akses pintu masuk pun cukup jauh. Duh! Makanya, urusan belanja serahkan saja pada personal shopper anda.</li>
        <li><strong>Menghemat biaya jajan dan makan di luar</strong><br>
        Pernah mengalami ini tidak, Bun? Pagi tadi Anda sudah masak, lengkap sayur dan lauknya. Lalu siang hari Anda beserta keluarga berangkat belanja kebutuhan harian. Persis di jam makan siang, Anda sulit mengelak untuk tidak makan di restoran atau food court di sana, bukan? Belum lagi anak-anak yang merengek minta dibelikan fast food. Selain risiko tidak sehat, biaya jajan dan makan di luar pun jadi membengkak. Belum lagi masakan di rumah yang sayang kalau terbuang. Dengan memilih personal shopper Anda bisa makan siang bersama keluarga di rumah. Lebih sehat, lebih hemat.</li>
        <li><strong>Karena waktu anda begitu berharga</strong><br>
        Sebagai ibu pekerja, saya harus mengatur waktu dengan sangat cermat. Senin sampai Jumat saya bekerja dan akhir minggu adalah waktu yang efektif buat saya berbelanja. Namun, kadang saya ingin juga memiliki me-time atau sekadar istirahat di rumah bermain dengan anak-anak. Saya tentunya ingin memiliki quality time lebih bagi mereka. Oh ya, kadang saya juga ingin lebih banyak mengalokasikan waktu berkunjung ke rumah orang tua. Memiliki seorang asisten yang berbelanja untuk kita jadi menghemat waktu dan saya bisa mengalokasikan waktu tersebut bersama keluarga. Maka dari itu menggunakan aplikasi honestbee sangat membantu saya mengelola waktu –dan juga keuangan ☺.</li>
      </ol>
    </section>
  </div>
</ion-content>